name: ai-demo-build-backend

on:
    push:
        branches:
              - main
    workflow_dispatch:
jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
          id-token: write
          contents: read

        steps:
            - uses: actions/checkout@v3
    
            - name: Print Info and Architecture
              run: |
                    echo "Working with Hash ${GITHUB_SHA}"
                    echo "Runner architecture: $(uname -m)"
                    docker version

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3
              with:
                platforms: arm64

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Azure Container Registry Login
              uses: azure/docker-login@v1
              with:
               login-server: ${{ vars.SANDBOX_ACR_LOGIN_SERVER }}.azurecr.io
               username: ${{ secrets.SANDBOX_CLIENT_ID }}
               password: ${{ secrets.SANDBOX_CLIENT_SECRET }}

            - name: Build and Push ARM64 Image
              run: |
                cd ./backend
                docker buildx build \
                  --platform linux/arm64 \
                  --push \
                  -t ${{ vars.SANDBOX_ACR_LOGIN_SERVER }}.azurecr.io/llm-graph-builder-backend:${{github.run_number}} \
                  .

            - name: Verify Image Architecture
              run: |
                docker buildx imagetools inspect ${{ vars.SANDBOX_ACR_LOGIN_SERVER }}.azurecr.io/llm-graph-builder-backend:${{github.run_number}} \
                  | grep -n "arm64"

