name: ai-demo-build-frontend

on:
    push:
        branches:
              - main
    workflow_dispatch:
jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
          id-token: write
          contents: read

        steps:
            - uses: actions/checkout@v3
    
            - name: Print Info and Architecture
              run: |
                    echo "Working with Hash ${GITHUB_SHA}"
                    echo "Runner architecture: $(uname -m)"
                    docker version

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3
              with:
                platforms: arm64

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Azure Container Registry Login
              uses: azure/docker-login@v1
              with:
               login-server: ${{ vars.SANDBOX_ACR_LOGIN_SERVER }}.azurecr.io
               username: ${{ secrets.SANDBOX_CLIENT_ID }}
               password: ${{ secrets.SANDBOX_CLIENT_SECRET }}

            - name: Build and Push ARM64 Image
              run: |
                docker buildx build \
                  --platform linux/arm64 \
                  --build-arg VITE_BACKEND_API_URL=https://mc-sandbox-llmgraphbuilder.3pillarglobal.com/api \
                  --build-arg DEPLOYMENT_ENV=prod \
                  --build-arg VITE_ENV=PROD \
                  --build-arg VITE_FRONTEND_HOSTNAME=mc-sandbox-llmgraphbuilder.3pillarglobal.com \
                  --build-arg VITE_SEGMENT_API_URL=https://api.segment.io \
                  --build-arg VITE_SKIP_AUTH=true \
                  --build-arg VITE_BLOOM_URL=https://workspace-preview.neo4j.io/workspace/explore?connectURL={CONNECT_URL}&search=Show+me+a+graph&featureGenAISuggestions=true&featureGenAISuggestionsInternal=true \
                  --build-arg VITE_TIME_PER_PAGE=50 \
                  --build-arg VITE_CHUNK_SIZE=5242880 \
                  --build-arg VITE_CHUNK_OVERLAP=20 \
                  --build-arg VITE_TOKENS_PER_CHUNK=200 \
                  --build-arg VITE_CHUNK_TO_COMBINE=1 \
                  --build-arg VITE_LARGE_FILE_SIZE=5242880 \
                  --build-arg VITE_BATCH_SIZE=2 \
                  --build-arg VITE_LLM_MODELS_PROD=azure_ai_gpt_4o \
                  --build-arg VITE_REACT_APP_SOURCES=local,youtube,wiki,s3,web \
                  --build-arg VITE_LLM_MODELS=azure_ai_gpt_4o \
                  --push \
                  -t ${{ vars.SANDBOX_ACR_LOGIN_SERVER }}.azurecr.io/llm-graph-builder-frontend:${{github.run_number}} \
                  ./frontend

