name: ai-demo-build-backend

on:
    push:
        branches:
              - main
    workflow_dispatch:
jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
          id-token: write
          contents: read

        steps:
            - uses: actions/checkout@v3
    
            - name: Print Info
              run: |
                    echo "Working with Hash ${GITHUB_SHA}"
                    ls -l
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Azure Container Registry Login
              uses: azure/docker-login@v1
              with:
               login-server: ${{ vars.SANDBOX_ACR_LOGIN_SERVER }}.azurecr.io
               username: ${{ secrets.SANDBOX_CLIENT_ID }}
               password: ${{ secrets.SANDBOX_CLIENT_SECRET }}
            - name: Docker Build and Publish
              uses: docker/build-push-action@v5
              with:
               context: ./backend
               file: ./backend/Dockerfile
               push: true
               platforms: linux/amd64
               tags: ${{ vars.SANDBOX_ACR_LOGIN_SERVER }}.azurecr.io/llm-graph-builder-backend:${{github.run_number}}